<div class="search-container ">
	<div class="nugget-welcome">
		<div class="span11 buscar-viaje">
			<div class="row">
				<div class="span4 inner">
					<i class="icon-search-from"></i>
					<input type="text" placeholder="Desde" id="trip-search-from-input"/>
				</div>
				<div class="span4 inner inner-hasta">
					<i class="icon-search-to"></i>
					<input type="text" placeholder="Hasta" id="trip-search-to-input"/>
				</div>
				<div class="span2 pull-right">
					<button class="btn btn-primary btn-search" id="trip-search-btn">
						<i class="icon-search icon-white"></i>Buscar recorrido
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="boton-mapa-wrap">
		<div id="boton-mapa" class=""></div>
	</div>
</div>
